
<table border="0" width="800">
<tr>
  <td>
<h1>Categorias</h1>
  </td>
  <td align="right">
  <%= link_to 'Cerrar sesión', log_out_path %>
  </td>
</tr>
</table>
<table border="1" width="800">
  <tr>
    <th>Nombre</th>
    <th>Limite de espacio</th>
    <th>Espacio disponible</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categoria.each do |categorium| %>
  <tr>
    <td><%= categorium.name %></td>
    <td align="right"><%= categorium.limitSpace %></td>
    <td align="right"><%= categorium.availableSpace %></td>
    <td><%= link_to 'Gráfica', categorium %></td>
    <td><%= link_to 'Editar', edit_categorium_path(categorium) %></td>
    <td><%= link_to 'Eliminar', categorium, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to 'Archivos', archivos_path(categorium) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Crear nueva categoria', new_categorium_path %>

