<p id="notice"><%= notice %></p>

<p>
  <b>Path:</b>
  <%= @archivo.path %>
</p>

<p>
  <b>Size:</b>
  <%= @archivo.size %>
</p>

<p>
  <b>Fecha:</b>
  <%= @archivo.fecha %>
</p>


<%= link_to 'Regresar', local_path(session[:idcategoria]) %>
